.nav {
  display: flex;
  background-color: #a51f1f;
  padding: 0 125px;
  align-items: center;
}

.nav ul {
  display: flex;
  font-size: 1.05rem;
  list-style: none;
  gap: 16px;
  align-items: center;
}

.nav .route a {
  font-weight: 800;
  font-size: 2.3rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  padding: 4px;
  opacity: 1;
  transition: 500ms;
}

.nav a:hover {
  transform: translate3d(0px, -4px, 0px);
  color: #dedede;
}

.esports-logo img {
  height: 125px;
  width: 125px;
}

.mobile-menu-icon {
  filter: invert(1);
  display: none;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .nav {
    padding: 0 50px;
  }

  .nav .esports-logo {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    padding: 16px;
  }

  .mobile-menu {
    display: block;
  }

  .nav ul {
    padding-left: 0;
    margin-left: 0;
    display: block;
    font-size: 0.5rem;
    list-style: none;
  }

  .menu {
    text-align: left;
  }
}
