.about-ourselves {
    padding-inline: 5vh;
    margin-bottom: 6vh;
}

.about-ourselves-desc {
    overflow: auto;
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 60vw;
    justify-content: space-between;
    column-gap: 5vw;
    align-items: flex-start;
}

.about-ourselves h1 {
    text-transform: uppercase;
    font-size: 5vw;
    color: #a51f1f;
}

.about-ourselves h2 {
    text-transform: uppercase;
    line-height: 0;
    color: #a51f1f;
}

.community-image-grid {
    display: grid;
    line-height: 0;
    padding-bottom: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 2fr);
}

.community-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.community-img--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}