.about-ourselves {
    padding-inline: 5rem;
    margin-bottom: 3rem;
}

.about-ourselves-desc {
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 60vw;
}

.about-ourselves h1 {
    text-transform: uppercase;
    font-size: 3.3rem;
    color: #a51f1f;
}

.about-ourselves img {
    border-radius: 1vh;
    height: 30vh;
}

.about-ourselves p {
    padding-left: 2vw;
    text-align: left;
    font-size: 1.4rem;
    color: #a51f1f;
}
