.hero-text {
    text-align: center;
    align-items: center;
    padding: 12rem;
    background: url('../images/hero-bg-placeholder.jpg') no-repeat;
    background-color: grey;
    background-blend-mode: multiply;
    background-size: 100% auto;
}

.hero-text h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 4rem;
    filter: drop-shadow(0 0.4rem 0 #a71f1f)
}