.job-openings-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
    background: url('../images/job-openings.jpg') no-repeat;
    background-color: grey;
    background-blend-mode: multiply;
    background-size: 100% auto;
    background-position-y: center;
}

.job-openings-header h1 {
    color: white;
    font-size: 3.5rem;
}
