.meet-our-clubs {
    padding-inline: 5rem;
    margin-bottom: 3rem;
}

.meet-our-clubs h1 {
    text-transform: uppercase;
    font-size: 3.3rem;
    color: #a51f1f;
}

.clubs {
    display: flex;
    cursor: grab;
    overflow: hidden;
	overflow-x: scroll;
	flex-wrap: nowrap;
	flex-direction: row;
    -ms-overflow-style: none; /* Internet Explorer and Microsoft Edge */
    scrollbar-width: none;  /* Firefox */
}

.clubs::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.club {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-color: grey;
    background-blend-mode: multiply;
    width: 380px;
    height: 650px;
    border-radius: 1vw;
    margin-left: 15px;
    margin-right: 15px;
}

.club::after {
    filter: brightness(50%);
}

.club-contents h2 {
    text-transform: uppercase;
    color: white;
    width: 300px;
    font-size: 1.8rem;
    margin-bottom: 6px;
    filter: drop-shadow(0 0.25rem 0 #a71f1f);
}

.club-contents #social-media-icon {
    width: 1.8rem;
    color: white;
    filter: invert(100%) drop-shadow(0 0.25rem 0 #a71f1f);
}