.meet-our-clubs {
    padding-inline: 5vh;
    margin-bottom: 6vh;
}

.meet-our-clubs h1 {
    text-transform: uppercase;
    font-size: 5vw;
    color: #a51f1f;
}

.clubs {
    display: flex;
}

.clubs::-webkit-scrollbar {
    height: 15px;
}

.clubs::-webkit-scrollbar-thumb {
    background-color: #a51f1f;
    border-radius: 10px;
}

.clubs::-webkit-scrollbar-thumb:hover {
    background-color: #851919;
}


.club {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: grey;
    background-blend-mode: multiply;
    min-width: 320px;
    min-height: 480px;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
    transition: width 0.3s;
}

.club::after {
    filter: brightness(50%);
}

.club:hover {
    width: 23vw;
}

#club-links {
    position: absolute;
    left: 0;
    right: 0;
    transition: opacity 0.3s;
    opacity: 0.5;
}

.club:hover #club-links {
    opacity: 1;
}

.club-contents h2 {
    text-transform: uppercase;
    color: white;
    width: 300px;
    font-size: 1.8rem;
    margin-bottom: 6px;
    filter: drop-shadow(0 0.25rem 0 #a71f1f);
}

.club-contents #social-media-icon {
    width: 1.8rem;
    color: white;
    filter: invert(100%) drop-shadow(0 0.25rem 0 #a71f1f);
}