.nav {
  background-color: #a51f1f;
  height: 15vh;
  text-transform: uppercase;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  /* border-radius: 0 0 4rem 4rem; */
}

.esports-logo {
  top: 20vh;
  left: 0;
  right: 0;
}

.esports-logo img {
  height: 25vh;
}

@media only screen and (max-width: 1224px) {
  .nav {
    height: 11vh;
  }
  .esports-logo img {
    height: 21vh;
  }
}
