@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap");

body {
  margin: 0;
  font-size: 100%;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 800;
}

/* Small
-----------------------*/
@media only screen and (max-width: 484px) {
  body {
    font-size: 90%;
  }
}
