name: GitHub Pages Deployment

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Deploy react app to GitHub Pages
      uses: tanwanimohit/deploy-react-to-ghpages@v1.0.1